<!DOCTYPE html>

<html>
    <head>
         <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

    <body>
        {{>header}}
        <p>A young man willing to encourage people in <b>The Lord</b> to achieve their goals.<br />First of many projects!!</p>
    </body>
    {{>footer}}
</html>