<!DOCTYPE html>
<html>
    <head>
         <title>Bible</title>
         <link rel="stylesheet" type="text/css" href="/css/style.css">
         
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <form id='msg'>
                <input name='msg1' placeholder="Scripture Eg.Genesis 1:1">
                <button>Submit</button>
            </form>
            {{>love}}
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>
        
         {{>footer}}       
         <script src="/js/script.js"></script>   
    </body>
    
</html>

